{% extends 'base.html' %}
{% block content %}
<h1>ABOUT JBLOG</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi velit maiores fuga, autem sunt pariatur reprehenderit quae quidem voluptate tenetur saepe minus quis nisi similique labore, placeat officiis provident facilis?</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum quas praesentium harum, porro perferendis suscipit quaerat accusamus aspernatur unde ipsum pariatur. Fugit nihil quisquam rem qui quasi. Perspiciatis, autem dolorum!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, sunt quibusdam minima earum neque libero cum optio harum animi saepe quam quasi accusamus. Neque aliquam, explicabo nemo veniam molestias esse.</p>
{% endblock content %}