{% extends 'base.html' %}
{% block content %}
  <div class="centerstage">
    {% for blogpost in blogpost_list %}
      <div class="border mb-3 p-3">
        <div class="date">
          <p>Published on: {{ blogpost.published_date|date:'D M Y' }}</p>
        </div>
        <a href="{% url 'blog:post_detail' pk=blogpost.pk %}" class="post-link text-decoration-none">
          <h3 class="post-list-title">{{ blogpost.title }}</h3>
          <p class="post-list-text">{{ blogpost.text }}</p>
          <span class="post-list-comment">Comments: {{ blogpost.approve_comment.count }}</span>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
