  .post {
    border: 1px solid gray;
    border-radius: 2px;
  }

  .postdate {
    text-align: center;
  }


  .btn-comment {
    position: absolute;
    right: 100px;
  }

  .post-link, .post-link:hover, .post-link:hover {
    color: black;
  }